main {
  width: 420px;
}


.content {
  width: 410px;
  margin-left: 10px;
}

.content_head {
  display: flex;
}

.content_head_text {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;

  width: 180px;
}

.check {
  width: 18px;
}

.sites {
  max-height: 400px;
  overflow-y: auto;

  padding-left: 0;
}

.site_wrapper {
  display: flex;
  flex-direction: row;

  list-style: none;

  font-size: 15px;
}

.site {
  display: flex;
  flex-direction: row;
}

.site:hover {
  background-color: #d9d9d9;
}

.site a {
  display: flex;
  justify-content: stretch;

  text-decoration: none;

  color: #000;
}

.site_text {
  display: inline-block;
  font-size: 15px;

  width: 180px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #000;

  overflow-wrap: break-word;
}


.operators {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 180px;
  margin: 10px auto;
}

.operators_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 180px;
  padding: 5px;
}

.btn {
  padding: 0;

  background-color: transparent;
  border: none;
}

.btn_icon {
  width: 30px;
  height: 30px;
}

.btn:active {
  background-color: #e1dfdd;
}

.hidden {
  visibility: hidden;
}
