.main {
  width: 400px;
}

.content {
  width: 360px;
  margin-left: 30px;
}

.content_head_text {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;

  width: 180px;
}

ul {
  padding: 0;
}

.site {
  list-style: none;

  font-size: 15px;
}

a {
  display: flex;
  justify-content: stretch;

  text-decoration: none;

  color: #000;
}


.site_text {
  display: inline-block;
  font-size: 15px;

  width: 180px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #000;

  overflow-wrap: break-word;
}


.operators {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 180px;
  margin: 10px auto;
}

.operators_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 180px;
  padding: 5px;
}

.btn {
  padding: 0;

  background-color: transparent;
  border: none;
}

.btn_icon {
  width: 30px;
  height: 30px;
}

.btn:active {
  background-color: #e1dfdd;
}